body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #343231;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #0033a0;
}

.form-control input {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  h1 {
    text-align: center;
  }
}

input[type="submit"] {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}
